<ion-view>

	<ion-nav-title align-title="center">
		<h2 class="title">Edit Income </h2>
	</ion-nav-title>

	<ion-nav-back-button class="button-clear">
		<i class="ion-arrow-left-c"></i> Back
	</ion-nav-back-button>


	<ion-content class="boxShadow padding">
		<div class="list">
			<form ng-submit="AddeditIncome(amount)">
				<label class="item item-input item-floating-label">
					<span class="input-label">Amount</span>
					<input  type="text" ng-model="amount" placeholder="Amount" required>
				</label>

				<button class="purpleColor button button-block" type="submit">
					Save
				</button>
			</form>
		</div>
	</ion-content>
</ion-view>
