<ion-view>


<ion-tabs class="tabs-striped purpleColor tabs-color-calm">

  <!-- Term Tab -->
  <ion-tab  title="Term" href="#/app/budgetEntry/term">
    <ion-nav-view name="budgetEntry-term"></ion-nav-view>
  </ion-tab>

  <!-- Income Tab -->
  <ion-tab disabled="state"  title="Income"  href="#/app/budgetEntry/income">
    <ion-nav-view name="budgetEntry-income"></ion-nav-view>
  </ion-tab>


  <!-- Expenses Tab -->
  <ion-tab title="Expenses" href="#/app/budgetEntry/expenses">
    <ion-nav-view name="budgetEntry-expenses"></ion-nav-view>
  </ion-tab>

</ion-tabs>
